@font-face {
  font-family: "Garamond";
  src: local("Garamond Bold"),
    url("../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans SemiBold"),
    url("../fonts/FiraSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  color: #191919;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #ededed;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 104px;
  margin-bottom: 60px;
  color: #ffffff;
  font-weight: 600;
  background-color: #191919;
}

.header__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1296px;
  flex-shrink: 0;
  margin: 0 auto;
}

.logo {
  margin: 14px 0;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:first-child)::before {
  display: inline-block;
  width: 9px;
  height: 8px;
  margin-left: 20px;
  padding-left: 20px;
  background: center / contain no-repeat url("../img/ui.svg#menu-marker");
  content: "";
}

.page {
  width: 1296px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 386px;
  margin-top: 150px;
  padding-top: 60px;
  color: #ffffff;
  background-color: #191919;
}

.footer__inner-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1296px;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  column-gap: 24px;
}

.footer__column {
  width: 416px;
}

.footer__column-heading {
  margin-bottom: 32px;
}

.footer__links-list {
  display: flex;
  gap: 24px;
}

.footer__links-list_vertical {
  flex-direction: column;
}

.footer__copyright {
  width: 1296px;
  height: 87px;
  margin: 58px auto 0;
  line-height: 86px;
  text-align: center;
  border-top: 1px solid #ffffff;
  opacity: 0.5;
}

.announcement__item {
  display: flex;
  align-items: center;
  width: 306px;
  height: 98px;
  text-align: center;
}

.announcement__date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 98px;
  color: #ffffff;
  font-family: Garamond, 'Times New Roman', Times, serif;
  background: #05b093;
  border-radius: 12px;
}

.announcement__day {
  font-size: 32px;
}

.anouncement__month {
  font-size: 18px;
}

.announcement__heading {
  width: 206px;
  margin: auto 0 auto 5px;
  font-size: 14px;
  font-weight: 600;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 304px;
  padding: 32px 60px;
  background-color: rgba(25, 25, 25, 0.05);
  border-radius: 16px;
}

.poster__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Garamond, 'Times New Roman', Times, serif;
  opacity: 75%;
}

.poster__day {
  font-size: 64px;
  line-height: 1.125;
}

.poster__month {
  font-size: 32px;
  line-height: 1;
}

.poster__image {
  width: 320px;
  height: 240px;
  background-color: rgba(25, 25, 25, 0.3);
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.poster__info-wrapper {
  width: 415px;
}

.poster__description {
  margin-top: 16px;
}

.poster__options {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.poster__option {
  display: flex;
  align-items: center;
  line-height: 32px;
}

.poster__option::before {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.poster__option_style::before {
  background-image: url("../img/ui.svg#icon-music");
}

.poster__option_time::before {
  background-image: url("../img/ui.svg#icon-time");
}

.poster__option_age::before {
  background-image: url("../img/ui.svg#icon-person");
}

.button {
  width: max-content;
  color: #ffffff;
  font-weight: 600;
  background-color: #05b093;
  border-radius: 50px;
  padding: 15px 30px 14px;
}

.news-item {
  width: 306px;
}

.news-item__image {
  width: 306px;
  height: 204px;
  margin-bottom: 24px;
  border-radius: 12px;
  background-color: rgba(25, 25, 25, 0.3);
  object-fit: cover;
  object-position: center;
}

.news-item__heading {
  margin-bottom: 24px;
}

.calendar {
  width: 526px;
}

.calendar__heading {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 231px 24px 24px;
  color: #ffffff;
  text-align: left;
  border-radius: 12px 12px 0 0;
  background-size: cover;
  background-position: center;
}

.calendar__heading::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-color: rgba(25, 25, 25, 0.5);
  content: "";
}

.calendar__heading h2 {
  position: relative;
  z-index: 3;
}

.calendar__dates-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 24px;
  border-radius: 0 0 12px 12px;
  background-color: rgba(25, 25, 25, 0.05);
}

.calendar__left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
}

.calendar__nav {
  display: flex;
  gap: 8px;
}

.calendar__right-wrapper {
  width: 304px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar__day {
  width: 40px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  background-color: rgba(25, 25, 25, 0.3);
}

.calendar__day_active {
  background-color: #05b093;
}

.button-nav {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #05b093;
  background-repeat: no-repeat;
  background-position: top 12px left 12px;
  content: "";
}

.button-nav_prev {
  background-image: url("../img/ui.svg#arrow-left");
}

.button-nav_next {
  background-image: url("../img/ui.svg#arrow-right");
}

.thumb-slider {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 416px;
  padding: 12px 16px;
  background-color: rgba(25, 25, 25, 0.05);
  border-radius: 8px;
}

.thumb-slider__image {
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.heading-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.heading-section_centered {
  position: relative;
  left: 12px;
  justify-content: center;
}

.heading-section__right-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 259px;
}

.heading-section__icon {
  width: 40px;
  height: 40px;
  background-image: url("../img/ui.svg#icon-calendar");
}

.heading-section__link {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.slider {
  display: flex;
  gap: 24px;
  width: 100%;
  margin-bottom: 184px;
}

.slider__main-image {
  width: 856px;
  height: 497px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.slider__previews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-posters {
  margin-bottom: 136px;
}

.event-posters__inner-wrapper {
  position: relative;
  left: 12px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.page__row-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 160px;
}

.news__heading {
  margin-bottom: 60px;
}

.news__inner-wrapper {
  display: flex;
  gap: 24px;
}

.announcement__inner-wrapper {
  display: flex;
  gap: 24px;
}

.event__main-image {
  width: 526px;
  height: 742px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 636px;
}

.content__heading {
  margin-bottom: 24px;
}

.content__image-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  font-size: 0;
}

.content .button {
  margin: 17px 0;
}

.content__image {
  width: 306px;
  height: 210px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.paragraph {
  margin-bottom: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__row-wrapper {
  display: flex;
  justify-content: space-between;
  width: 966px;
  margin: 0 auto;
}

.contact__column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 416px;
}

.contact__map {
  width: 856px;
  height: 441px;
  object-fit: cover;
  object-position: center;
  margin: 84px auto 0;
  border-radius: 12px;
}